.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;

    .card {
        display: flex;
        flex-direction: column;
        width: 31%;
        border: none;
        border-radius: 30px 10px;
        margin: 5px;
        overflow: hidden;
        .card-body {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: 20px;

            .price-title {
                margin: 5px 2px;
                color: #4a4040;

            }

            .nft-name {
                font-size: 12px;
                margin: 5px 2px;

            }
        }

        a {
            text-decoration: none;
            font-size: 14px;
            border: 1px solid #4a4040;
            width: 70px;
            text-align: center;
            white-space: nowrap;
            padding: 4px;
            border-radius: 8px;
            color: #4a4040;
            margin: 5px 2px;
            transition: all 0.3s;
            &:hover {
                background-color: #4a4040;
                color: #fff;
            }
        }
    }

    .nft-image {
        max-width: 100%;
    }

}