   .logo {
       margin: 0 auto;
       margin-top: 4rem;
       margin-bottom: 8rem;
       display: block;
       color: #0d2e43;
       pointer-events:auto  ;
   }
   @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 10s linear;
    }
  }
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

   .shop-now {

       margin: 0 auto;
       margin-top: 20px;
       display: block;
       padding: 15px 30px;
       color: #051a27;
       font-weight: 700;
   .shop-icon {
    margin-left: 5px;
    color:#0d2e43 ;
   }

   }