   .entrance-area {
    img {
      width:48%;
      border-radius: 22px;
      opacity: 0.7;
      transition: all 0.4s;
      &:hover {
        opacity: 1;
      }
    }

   }
   @media screen and (max-width:991px ) {
  .entrance-area {
    img {
      width: 100%;
      
    }
    .show {
      display: none;
    }
  }
   }
   .logo {
     width: 300px;
     margin: 0 auto;
     margin-top: 4rem;
     margin-bottom: 8rem;
     display: block;
     color: #0d2e43;
     pointer-events: auto;
   }

   @media (prefers-reduced-motion: no-preference) {
     .logo {
       animation: logo-spin infinite 10s linear;
     }
   }

   @keyframes logo-spin {
     from {
       transform: rotate(0deg);
     }

     to {
       transform: rotate(360deg);
     }
   }

   .shop-now {

     margin: 0 auto;
     margin-top: 20px;
     display: block;
     padding: 15px 30px;
     border: 1px solid #0d2e43;
     letter-spacing: 3px;
     color: #051a27;
     font-weight: 700;

     &:hover {
      background-color: aqua;
     }
     .shop-icon {
       margin-left: 5px;
       color: #0d2e43;
     }

   }