.navbar-container {
    .logo-item {
        width: 80px;
    }
    .btn-collapse {
        border: 2px solid rgba(0,0,0,.55);
        color: rgba(0,0,0,.55);
        transition: all 0.5s;
        
        &:hover {
            background-color: rgba(0,0,0,.55);
            color: rgba(0, 255, 255, 0.534);
        }
    }
}