@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Fira+Code:wght@300;400;500;600;700&display=swap');


$back-ground :#03989e;
$font-type : 'Fira Code',monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:$font-type;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $back-ground;
}